<div style="margin-bottom: 50px;">
Post #<%= @post.id %>
<p><strong><%= @post.title %></strong></p>
<%= @post.body %>
<p>
  <%= link_to "Назад", :action => "index" %>
  <%= link_to "Редактировать", :action => "edit" %>
  <%= link_to "Удалить", {:action => "destroy", :id => @post.id}, :method => "delete", :confirm => "Are you sure?" %>
</p>
</div>