<!DOCTYPE html>
<html>
<head>
  <title>Sew</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="maindiv">
		<div class="headerdiv">
			<%= link_to image_tag("sofa.jpg", :style => "border: 0px"), root_path %>
			<div class="hdc">
			
			</div>
			<div class="hdc">
				<%= link_to "Контакты", contacts_path %>
			</div>
			<div class="hdc">
				<%= link_to "Статьи", posts_path %>
			</div>
			<div class="hdc">
				<%= link_to "Каталог", items_path %>
			</div>
			<div class="hdc">
				<%= link_to "На главную", root_path %>
			</div>
		</div>
		<div class="content">
		  <%= yield %>
		</div>
		<div class="footerdiv">
			<div class="fdc">
				<%= link_to "Контакты", contacts_path %>
			</div>
		</div>
  </div>	

  <% unless signed_in? %>
  	<%= link_to "Войти", signin_path %> или <br/> 
		<%= link_to "Зарегистрироваться", signup_path %>
	<% else %>
		<p>Добро пожаловать, <br/> <strong><%= link_to current_user.email, current_user %></strong></p>
		<%= link_to "Выйти", signout_path, method: "delete" %>
	<% end %><br/><br/>

<!--   <%= debug(params) if Rails.env.development? %>
  <%= signed_in? %><br/>
  <% if signed_in? %>
  <%= current_user.name %>
  <% else %>
  Not signed
  <% end -%>
<br/>
  <%= :remember_token %>
 -->
</body>
</html>
